Volvo Extended API to Domoticz.json
[{"id":"fc2c4745.3d9bb8","type":"tab","label":"Volvo Extended Vehicle API","disabled":false,"info":""},{"id":"e1458998.134a1","type":"config","z":"fc2c4745.3d9bb8","name":"Config Domoticz IDX for Volvo Extended Vehicle API","properties":[{"p":"IDXaverageFuelConsumption","pt":"flow","to":"1","tot":"num"},{"p":"IDXaverageSpeed","pt":"flow","to":"2","tot":"num"},{"p":"IDXbackupBatteryRemaining","pt":"flow","to":"3","tot":"num"},{"p":"IDXbrakeFluid","pt":"flow","to":"4","tot":"num"},{"p":"IDXcarLocked","pt":"flow","to":"5","tot":"num"},{"p":"IDXdistanceToEmpty","pt":"flow","to":"6","tot":"num"},{"p":"IDXengineCoolantLevel","pt":"flow","to":"7","tot":"num"},{"p":"IDXengineCoolantTemp","pt":"flow","to":"8","tot":"num"},{"p":"IDXengineHoursToService","pt":"flow","to":"9","tot":"num"},{"p":"IDXengineRunning","pt":"flow","to":"10","tot":"num"},{"p":"IDXexternalTemp","pt":"flow","to":"11","tot":"num"},{"p":"IDXfrontLeftDoorOpen","pt":"flow","to":"12","tot":"num"},{"p":"IDXfrontLeftTyrePressure","pt":"flow","to":"13","tot":"num"},{"p":"IDXfrontLeftWindowOpen","pt":"flow","to":"14","tot":"num"},{"p":"IDXfrontRightDoorOpen","pt":"flow","to":"15","tot":"num"},{"p":"IDXfrontRightTyrePressure","pt":"flow","to":"16","tot":"num"},{"p":"IDXfrontRightWindowOpen","pt":"flow","to":"17","tot":"num"},{"p":"IDXfuelAmount","pt":"flow","to":"18","tot":"num"},{"p":"IDXhoodOpen","pt":"flow","to":"19","tot":"num"},{"p":"IDXkmToService","pt":"flow","to":"20","tot":"num"},{"p":"IDXmainBatteryStatus","pt":"flow","to":"21","tot":"num"},{"p":"IDXmonthsToService","pt":"flow","to":"22","tot":"num"},{"p":"IDXodometer","pt":"flow","to":"23","tot":"num"},{"p":"IDXoilLevel","pt":"flow","to":"24","tot":"num"},{"p":"IDXrearLeftDoorOpen","pt":"flow","to":"25","tot":"num"},{"p":"IDXrearLeftTyrePressure","pt":"flow","to":"26","tot":"num"},{"p":"IDXrearLeftWindowOpen","pt":"flow","to":"27","tot":"num"},{"p":"IDXrearRightDoorOpen","pt":"flow","to":"28","tot":"num"},{"p":"IDXrearRightTyrePressure","pt":"flow","to":"29","tot":"num"},{"p":"IDXrearRightWindowOpen","pt":"flow","to":"30","tot":"num"},{"p":"IDXserviceWarningStatus","pt":"flow","to":"31","tot":"num"},{"p":"IDXserviceWarningTrigger","pt":"flow","to":"32","tot":"num"},{"p":"IDXtailGateOpen","pt":"flow","to":"33","tot":"num"},{"p":"IDXtripMeter1","pt":"flow","to":"34","tot":"num"},{"p":"IDXtripMeter2","pt":"flow","to":"35","tot":"num"},{"p":"IDXwasherFluidLevel","pt":"flow","to":"36","tot":"num"},{"p":"IDXoilPressure","pt":"flow","to":"37","tot":"num"},{"p":"IDXbulbFailure","pt":"flow","to":"38","tot":"num"},{"p":"IDXcabOpen","pt":"flow","to":"39","tot":"num"}],"active":true,"x":920,"y":80,"wires":[]},{"id":"40715bb7.f232dc","type":"config","z":"fc2c4745.3d9bb8","name":"Config VCC API Key and Volvo Car Access Token","properties":[{"p":"vcc-api-key","pt":"flow","to":"7d676c4301c84ec78300fa1354665215","tot":"str"},{"p":"authorization","pt":"flow","to":"eyJhbGciOiJSUzI1NiIsImtpZCI6IkpXVFNJR05FRENFUlQiLCJwaS5hdG0iOiI5cjdpIn0.eyJzY29wZSI6WyJleHZlOndhcm5pbmdzIiwib3BlbmlkIiwidmVoaWNsZTphdHRyaWJ1dGVzIiwiZXh2ZTpkaWFnbm9zdGljc19lbmdpbmVfc3RhdHVzIiwicHJvZmlsZSIsImV4dmU6YnJha2Vfc3RhdHVzIiwiZXh2ZTpvZG9tZXRlcl9zdGF0dXMiLCJleHZlOndpbmRvd3Nfc3RhdHVzIiwiZXh2ZTpsb2NrX3N0YXR1cyIsImV4dmU6ZW5naW5lX3N0YXR1cyIsImV4dmU6dHlyZV9zdGF0dXMiLCJleHZlOmRvb3JzX3N0YXR1cyIsImV4dmU6dmVoaWNsZV9zdGF0aXN0aWNzIiwiZXh2ZTpmdWVsX3N0YXR1cyIsImV4dmU6ZGlhZ25vc3RpY3Nfd29ya3Nob3AiXSwiY2xpZW50X2lkIjoiZGV2ZWxvcGVydmNhcnNkb3Rjb20iLCJncm50aWQiOiI5NDBzTkVDblhwMDdwRnN3bzlYS2RLaE5TUnp3TGtzZiIsImlzcyI6Imh0dHBzOi8vdm9sdm9pZC5ldS52b2x2b2NhcnMuY29tIiwiYXVkIjoiZGV2ZWxvcGVydmNhcnNkb3Rjb20iLCJmaXJzdE5hbWUiOiJEZXZlbG9wZXIiLCJsYXN0TmFtZSI6IlZvbHZvIENhcnMiLCJzdWIiOiJlM2Y1M2JkYi1iZjUwLTRlMGEtYmU5Ny1kYjkzNmMxMGEzYjQiLCJzY29wZXMiOlsiZXh2ZTp3YXJuaW5ncyIsIm9wZW5pZCIsInZlaGljbGU6YXR0cmlidXRlcyIsImV4dmU6ZGlhZ25vc3RpY3NfZW5naW5lX3N0YXR1cyIsInByb2ZpbGUiLCJleHZlOmJyYWtlX3N0YXR1cyIsImV4dmU6b2RvbWV0ZXJfc3RhdHVzIiwiZXh2ZTp3aW5kb3dzX3N0YXR1cyIsImV4dmU6bG9ja19zdGF0dXMiLCJleHZlOmVuZ2luZV9zdGF0dXMiLCJleHZlOnR5cmVfc3RhdHVzIiwiZXh2ZTpkb29yc19zdGF0dXMiLCJleHZlOnZlaGljbGVfc3RhdGlzdGljcyIsImV4dmU6ZnVlbF9zdGF0dXMiLCJleHZlOmRpYWdub3N0aWNzX3dvcmtzaG9wIl0sImVtYWlsIjoiZGV2ZWxvcGVydm9sdm9jYXJzY29tQGdtYWlsLmNvbSIsImV4cCI6MTY3MzU1OTM2OH0.blNWwL1p2teprFP2sCLCtjWq56oitUICpybqg8VjaELa3OxdWyBQ4a9DvHNlEltidKfylOEanZAN6kfFcoUx3fb36ABjH8J7nS_VtBTKTg1aPqw1HE_b6eVf8jKhEzHe4RgtL-PdPT2EIiTeJBpVnsbfi_pFTAYuhRapxxk0Fvts-M0xuSpPl1Ugo5ASm1h7-sMbWvO7kPYQm5TGkoFnRLItNtaNfy7UdDN51tbDRK8B6caTqIxiaJIxm9w9Cl1r8hYD4zIus7H3NdvR9f1_Lj_U-PTQyMXXcU_6rnzdID-eXCZmx4nCScFfE26n_AN6WnFzN40we0_Td6023OqmFQ","tot":"str"}],"active":true,"x":270,"y":80,"wires":[]},{"id":"e0240fec18ce7efa","type":"inject","z":"fc2c4745.3d9bb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["965df37ae17b7bba"]]},{"id":"3480e8fe050d3f93","type":"debug","z":"fc2c4745.3d9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"6274758984ee8326","type":"comment","z":"fc2c4745.3d9bb8","name":"Get vehicle list","info":"","x":340,"y":180,"wires":[]},{"id":"6043fddefe605d45","type":"comment","z":"fc2c4745.3d9bb8","name":"Get vehicle resources","info":"","x":360,"y":280,"wires":[]},{"id":"764c245f7eeade81","type":"debug","z":"fc2c4745.3d9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":320,"wires":[]},{"id":"f52a62f1e0831c94","type":"function","z":"fc2c4745.3d9bb8","name":"Set URL (Resources)","func":"for (let i = 0; i < msg.payload.vehicles.length; i++) {\nmsg.headers = {};\nmsg.headers['accept'] = 'application/json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\")\nmsg.url = 'https://api.volvocars.com/extended-vehicle/v1/vehicles/' + msg.payload.vehicles[i].id + '/resources';\nnode.send(msg);\nnode.done();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["1d404c64aee60f4a"]]},{"id":"1583c9434b6e2389","type":"function","z":"fc2c4745.3d9bb8","name":"Set URL (Values)","func":"for (let i = 0; i < msg.payload.resources.length; i++) {\nmsg.headers = {};\nmsg.headers['accept'] = 'application/json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\");\nmsg.topic = msg.payload.resources[i].name;\nmsg.url = msg.payload.resources[i].href;\nnode.send(msg);\nnode.done();\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":420,"wires":[["881dfbac2c753bf9"]]},{"id":"cccbdcdcb17e262c","type":"debug","z":"fc2c4745.3d9bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":520,"wires":[]},{"id":"8683f7fccb853b49","type":"comment","z":"fc2c4745.3d9bb8","name":"Get resources values","info":"","x":360,"y":380,"wires":[]},{"id":"e2c6d4d429395654","type":"function","z":"fc2c4745.3d9bb8","name":"Prepare to Domoticz","func":"switch (msg.topic) {\n\n    case \"averageSpeed\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.averageSpeed.value};\n    break;\n\n    case \"averageFuelConsumption\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.averageFuelConsumption.value};\n    break;\n\n    case \"brakeFluid\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.brakeFluid.value};\n    break;\n\n    case \"backupBatteryRemaining\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.backupBatteryRemaining.value};\n    break;\n\n    case \"carLocked\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.carLocked.value};\n    break;\n\n    case \"distanceToEmpty\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.distanceToEmpty.value};\n    break;\n\n    case \"engineCoolantLevel\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.engineCoolantLevel.value};\n    break;\n\n    case \"engineHoursToService\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.engineHoursToService.value};\n    break;\n\n    case \"engineCoolantTemp\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.engineCoolantTemp.value};\n    break;\n\n    case \"engineRunning\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.engineRunning.value};\n    break;\n\n    case \"externalTemp\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.externalTemp.value};\n    break;\n\n    case \"frontLeftDoorOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontLeftDoorOpen.value};\n    break;\n\n    case \"frontLeftTyrePressure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontLeftTyrePressure.value};\n    break;\n\n    case \"frontLeftWindowOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontLeftWindowOpen.value};\n    break;\n\n    case \"frontRightDoorOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontRightDoorOpen.value};\n    break;\n\n    case \"frontRightTyrePressure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontRightTyrePressure.value};\n    break;\n\n    case \"frontRightWindowOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.frontRightWindowOpen.value};\n    break;\n\n    case \"fuelAmount\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.fuelAmount.value};\n    break;\n\n    case \"hoodOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.hoodOpen.value};\n    break;\n\n    case \"kmToService\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.kmToService.value};\n    break;\n\n    case \"mainBatteryStatus\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.mainBatteryStatus.value};\n    break;\n\n    case \"monthsToService\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.monthsToService.value};\n    break;\n\n    case \"odometer\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.odometer.value};\n    break;\n\n    case \"oilLevel\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.oilLevel.value};\n    break;\n\n    case \"oilPressure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.oilPressure.value};\n    break;\n\n    case \"rearLeftWindowOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearLeftWindowOpen.value};\n    break;\n\n    case \"rearRightDoorOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearRightDoorOpen.value};\n    break;\n\n    case \"rearRightTyrePressure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearRightTyrePressure.value};\n    break;\n\n    case \"rearLeftDoorOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearLeftDoorOpen.value};\n    break;\n\n    case \"rearLeftTyrePressure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearLeftTyrePressure.value};\n    break;\n\n    case \"washerFluidLevel\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.washerFluidLevel.value};\n    break;\n\n    case \"serviceWarningTrigger\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.serviceWarningTrigger.value};\n    break;\n\n    case \"tripMeter1\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.tripMeter1.value};\n    break;\n\n    case \"tripMeter2\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.tripMeter2.value};\n    break;\n\n    case \"serviceWarningStatus\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.serviceWarningStatus.value};\n    break;\n\n    case \"tailGateOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.tailGateOpen.value};\n    break;\n\n    case \"rearRightWindowOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.rearRightWindowOpen.value};\n    break;\n\n    case \"bulbFailure\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.bulbFailure.value};\n    break;\n\n    case \"cabOpen\":\n    msg.payload = {\"command\":\"udevice\",\"idx\":flow.get(\"IDX\" + msg.topic),\"nvalue\":0,\"svalue\":msg.payload.cabOpen.value};\n    break;\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["3a5057385335a323"]]},{"id":"3a5057385335a323","type":"debug","z":"fc2c4745.3d9bb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":520,"wires":[]},{"id":"13f2f24d9905efa3","type":"mqtt out","z":"fc2c4745.3d9bb8","name":"To Domoticz","topic":"domoticz/in","qos":"2","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7aff5cd755ba2941","x":1050,"y":420,"wires":[]},{"id":"8ca3ae0abcda0313","type":"comment","z":"fc2c4745.3d9bb8","name":"Enable to read VIN","info":"","x":810,"y":180,"wires":[]},{"id":"9debaa44f432f746","type":"comment","z":"fc2c4745.3d9bb8","name":"Enable to read Resources","info":"","x":830,"y":280,"wires":[]},{"id":"cff3c61adbdbda31","type":"comment","z":"fc2c4745.3d9bb8","name":"Enable to read Values","info":"","x":820,"y":480,"wires":[]},{"id":"ee6a38b2ac9188bd","type":"http request","z":"fc2c4745.3d9bb8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":220,"wires":[["3480e8fe050d3f93","f52a62f1e0831c94"]]},{"id":"965df37ae17b7bba","type":"function","z":"fc2c4745.3d9bb8","name":"Set URL (Vehicles)","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/json';\nmsg.headers['vcc-api-key'] = flow.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + flow.get(\"authorization\")\nmsg.url = 'https://api.volvocars.com/extended-vehicle/v1/vehicles';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":220,"wires":[["ee6a38b2ac9188bd"]]},{"id":"1d404c64aee60f4a","type":"http request","z":"fc2c4745.3d9bb8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":320,"wires":[["764c245f7eeade81","1583c9434b6e2389"]]},{"id":"881dfbac2c753bf9","type":"http request","z":"fc2c4745.3d9bb8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":420,"wires":[["cccbdcdcb17e262c","e2c6d4d429395654"]]},{"id":"6653562ad3d51e29","type":"comment","z":"fc2c4745.3d9bb8","name":"Enable to read Values to Domoticz","info":"","x":1120,"y":480,"wires":[]},{"id":"7aff5cd755ba2941","type":"mqtt-broker","name":"Jonas_MQTT_Server","broker":"192.168.10.24","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]