Volvo Extended API to Domoticz_Subflow
[{"id":"74aed579.228d04","type":"subflow","name":"Volvo Extended API","info":"Subflow to provide Headers to HTTP request.\nRequires msg.url as input.","category":"","in":[{"x":120,"y":80,"wires":[{"id":"969e3345.457bf8"}]}],"out":[{"x":600,"y":80,"wires":[{"id":"11de1bbe.5ff6d4","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"11de1bbe.5ff6d4","type":"http request","z":"74aed579.228d04","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":80,"wires":[[]]},{"id":"969e3345.457bf8","type":"function","z":"74aed579.228d04","name":"","func":"msg.headers = {};\nmsg.headers['accept'] = 'application/json';\nmsg.headers['vcc-api-key'] = global.get(\"vcc-api-key\");\nmsg.headers['authorization'] = \"Bearer \" + global.get(\"authorization\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["11de1bbe.5ff6d4"]]}]
